.mainWindow{
    overflow: auto hidden;
    height: 99vh;
}

.header{
    display: inline-block;
}

.news{
    left: 15px;
    width: 50%;
}

.footer{
    position: absolute;
    display: block;
    align-items: center;
    bottom: 15px;
    width: 100%;
}

.settingsButton{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
}

.settingsButton:hover, .settingsButton:active{
    border: none;
    background-color: transparent;
}

.settingsIcon{
    top: 0px;
    left: 0px;
    width: 27px;
    height: 27px;
}

.installButton{
    height: 50px;
    width: -webkit-calc(100% - 30px);
    width:    -moz-calc(100% - 30px);
    width:         calc(100% - 30px);
}

.dynamicWrapper{
    display: flex;
    height: -webkit-calc(100% - 160px);
    height:    -moz-calc(100% - 160px);
    height:         calc(100% - 160px);
}

.news{
    overflow: auto;
    margin-left: 15px;
    width: -webkit-calc(100% - 300px);
    width:    -moz-calc(100% - 300px);
    width:         calc(100% - 300px);
    border: 1px solid gainsboro;
    border-radius: 7px;
    box-shadow: -2px 2px 5px gainsboro;
}

.menu{
    position: absolute;
    overflow: auto hidden;
    width: 290px;
    margin-left: 15px;
    right: 0px;
}